# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
raw_df = pd.read_csv('../output_data/WeatherPy_output/raw_weather.csv')
print(len(raw_df))
raw_df.head()

619

,id,main,description,icon,base,visibility,dt,timezone,name,cod,...,filler_18,filler_19,filler_20,filler_21,filler_22,filler_23,filler_24,filler_25,filler_26,rain.1h
0,802.0,Clouds,scattered clouds,03d,stations,10000.0,1.608738e+09,-10800.0,Belmonte,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,803.0,Clouds,broken clouds,04n,stations,10000.0,1.608738e+09,-36000.0,Hilo,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,803.0,Clouds,broken clouds,04n,stations,10000.0,1.608738e+09,3600.0,Honningsvåg,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,802.0,Clouds,scattered clouds,03d,stations,10000.0,1.608738e+09,-3600.0,Lagoa,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,801.0,Clouds,few clouds,02n,stations,9000.0,1.608738e+09,28800.0,George Town,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
import gmaps
gmaps.configure(api_key=g_key)

In [43]:
coords = raw_df[['coord.lat', 'coord.lon']].fillna(0)
humidity = raw_df['main.humidity']

fig = gmaps.figure(map_type='HYBRID')

heatmap_layer = gmaps.heatmap_layer(coords, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
ideal_temp_mask = (raw_df['main.temp_max'] < 80) & (raw_df['main.temp_max'] > 70)
ideal_wind_mask = raw_df['wind.speed'] < 10
ideal_cloud_mask = raw_df['clouds.all'] == 0 

ideal_spots_df = raw_df[ideal_temp_mask & ideal_wind_mask & ideal_cloud_mask]
ideal_spots_df.index = ideal_spots_df['name']
ideal_spots_df.head()

,id,main,description,icon,base,visibility,dt,timezone,name,cod,...,filler_18,filler_19,filler_20,filler_21,filler_22,filler_23,filler_24,filler_25,filler_26,rain.1h
name,,,,,,,,,,,,,,,,,,,,,
Tessalit,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,0.0,Tessalit,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bredasdorp,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,7200.0,Bredasdorp,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
São Pedro do Sul,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,-10800.0,São Pedro do Sul,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yulara,800.0,Clear,clear sky,01n,stations,10000.0,1.608738e+09,34200.0,Yulara,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taoudenni,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,0.0,Taoudenni,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_coords= ideal_spots_df[['coord.lat','coord.lon']]
string_coords = []
responses = []

for vacation_spot in range(len(hotel_coords)):
    str_coord = f'{str(hotel_coords.iloc[vacation_spot, 0])}, {str(hotel_coords.iloc[vacation_spot,1])}'
    string_coords.append(str_coord)

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_search = "Hotel"
target_radius = 5000
target_type = "hotel"

for vacation_spot in string_coords: 

    params = {
        "location": vacation_spot,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    response = requests.get(base_url, params=params)
    responses.append(response)

In [10]:
clean_responses = [resp for resp in responses if resp.json()['status'] != 'ZERO_RESULTS']

In [11]:
# WHY ARE THERE NANS IN THE HOTEL NAME?? --> PARE DOWN CLEANED DF TO INCLUDE ONLY THOSE WITH RESULTS?

In [76]:
hotel_df = {}

i = 0
for response in clean_responses:
    hotel_json = response.json()
    hotel_df[f'{ideal_spots_df.iloc[i,8]}'] = hotel_json['results'][0]['name']
    i += 1

cities_with_hotel = [city for city in hotel_df]

# ideal_spots_df['Hotel Name'] = np.nan
ideal_spots_df.loc['Hotel Name'] = np.nan

for city in cities_with_hotel:
    ideal_spots_df.loc[city, 'Hotel Name'] = hotel_df[f'{city}']
    
hotel_df = ideal_spots_df['Hotel Name']

hotel_df = pd.DataFrame(hotel_df)
ideal_spots_df.head()

,id,main,description,icon,base,visibility,dt,timezone,City,cod,...,filler_19,filler_20,filler_21,filler_22,filler_23,filler_24,filler_25,filler_26,rain.1h,Hotel Name
name,,,,,,,,,,,,,,,,,,,,,
Tessalit,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,0.0,Tessalit,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bredasdorp Square
Bredasdorp,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,7200.0,Bredasdorp,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sítio Hotel e Eventos
São Pedro do Sul,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,-10800.0,São Pedro do Sul,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sails in the Desert
Yulara,800.0,Clear,clear sky,01n,stations,10000.0,1.608738e+09,34200.0,Yulara,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hospitality Carnarvon
Taoudenni,800.0,Clear,clear sky,01d,stations,10000.0,1.608738e+09,0.0,Taoudenni,200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Free Zone Hotel Nouadhibou

In [77]:
hotel_df['City'] = hotel_df.index
hotel_df['Lat'] = ideal_spots_df['coord.lat']
hotel_df['Lng'] = ideal_spots_df['coord.lon']
hotel_df['Country'] = ideal_spots_df['sys.country']
hotel_df = hotel_df.dropna()

hotel_df

,Hotel Name,City,Lat,Lng,Country
name,,,,,
Tessalit,Bredasdorp Square,Tessalit,20.20,1.01,ML
Bredasdorp,Sítio Hotel e Eventos,Bredasdorp,-34.53,20.04,ZA
São Pedro do Sul,Sails in the Desert,São Pedro do Sul,-29.62,-54.18,BR
Yulara,Hospitality Carnarvon,Yulara,-25.24,130.99,AU
Taoudenni,Free Zone Hotel Nouadhibou,Taoudenni,22.68,-3.98,ML
Najrān,Hotel Castelo,Najrān,17.49,44.13,SA
Carnarvon,HÔTEL SAHRAI,Carnarvon,-24.87,113.63,AU
Adrar,Holiday Inn Express Iquique,Adrar,20.50,-10.07,MR
Nouadhibou,Hotel Mar Andino,Nouadhibou,20.93,-17.03,MR
Cidreira,Turis Firper Hotel,Cidreira,-30.18,-50.21,BR
Fes,Melrose,Fes,34.04,-5.00,MA
Iquique,Juddi Hotel,Iquique,-20.22,-70.14,CL
Rancagua,Hotel Dom Rafael - Premium,Rancagua,-34.17,-70.74,CL
Chui,Dar One,Chui,-33.70,-53.46,UY
Sambava,Hotel Emblemático 4 Esquinas,Sambava,-14.27,50.17,MG
Pasni,Hotel Piedra Verde Rancagua Machalí,Pasni,25.26,63.47,PK

In [89]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [90]:
# Add marker layer ontop of heat map

hotel_names = hotel_df['Hotel Name'].values.tolist()

marker_layer = gmaps.marker_layer(locations, hotel_names, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))